<h4 mat-dialog-title>Simon Levelt Spaarkaart</h4>
<mat-dialog-content fxLayout="column">
  <p>
    Voor iedere €5 besteed aan koffie of thee krijgt u een spaarzegel. Als de kaart vol is, krijgt u bij de
    eerstvolgende besteding een korting van €4 op het complete assortiment.
  </p>
  <p>
    Een volle spaarkaart kan niet ingeruild worden tegen contant geld. Zegels worden niet verstrekt in combinatie met
    kortingen/aanbiedingen.
  </p>
  <div

    fxFlex
    fxLayoutAlign="end"
    class=""
    mat-dialog-close>
    <mat-icon class="stamps-info-dialog-close">close</mat-icon>
  </div>

</mat-dialog-content>
