<div class="error-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="25px">

  <!-- <button mat-raised-button color="primary" (click)="onErrorDetails()">SHOW DETAILS</button> -->
 

  <div *ngIf="error">
    <ul>
      <li
        *ngIf="error.message">
        <span>Message: </span>{{error.message}}
      </li>

      <li
        *ngIf="error.location">
        <span>Location: </span>{{error.location}}
      </li>
    </ul>
  </div>

  <div
    class="no-error"
    *ngIf="!error">
    <p>no error</p>
  </div>
  <button [routerLink]="['/home']" mat-raised-button color="primary">HOME</button>
</div>
