* {
  font-size : 12px;
}




.mat-cell, .mat-header-cell {
  padding: 0px;
  margin: 0px;
}

th, 
td, 
.price, 
.header-cell-order, 
.pickup-date-header, 
.pickup-date-cell,
.pickup-time-header,
.pickup-time-cell {
  padding: 10px;
}

.client-name-container {
  padding: 5px;
  margin: 3px;
  border: 1px solid black;
  font-size: 16px;
}








.order-table {
  background-color: #CCC;  
  
}



tr:nth-child(even) {background-color: #f2f2f2;}

/* th, .header-cell-order {
  background-color: #ededed;
  color: black;
  font-weight: normal;
  border: 1px solid white;
} */

.header-cell-order {
  height: 60px;
}

.table-header-weight, .table-cell-weight {
  
  text-align: right;
}
.table-header-price, .table-cell-price {
  
  text-align: right;
  
}





