<section fxLayout="row" fxLayoutAlign="center">
    <mat-card>
      <h5 mat-card-title>AFHAALSERVICE</h5>
      <mat-card-subtitle>
        Simon Lévelt Jodenbree <br>
        Koffie & Thee
      </mat-card-subtitle>
      <mat-card-content>
        <p>
          Wanneer wij uw bestelling via mail ontvangen hebben, nemen wij contact met u op om de bestelling goed door te
          nemen,
          of alles op voorraad is en of alles naar wens is ingevuld.
          Daarna zullen wij het voor u klaarzetten. Spaart u zegeltjes? :))
          Buiten de winkel is de overdracht en de betaling vindt uitsluitend plaats via onze mobiele pinautomaat (geen
          cash,
          Am.&nbsp;Express en cadeaukaarten).
        </p>
        <p>
          Willen de buren misschien ook koffie en thee? <br>
          Hopelijk maakt onze koffie, thee en zoetwaren deze tijd iets draaglijker.
        </p>
        <p>
          Wees veilig en gezond en blijf lief voor elkaar.
        </p>
        <p>
          De Dames van de Jodenbree: Roxanne, Zoë, Amanda, Guilia & Tamara
        </p>
  
        <i class="fas fa-home"></i>Jodenbreestraat 20 Amsterdam<br>
        <i class="fas fa-phone"></i>tel.: 020-3307929<br>
        <i class="fas fa-envelope-square"></i>email: amsterdam.js@simonlevelt.nl<br>
        <i class="fab fa-instagram"></i>Instagram@simonleveltjodenbree
  
        <mat-card-actions>
          <button
            type="button"
            color="primary" 
            mat-raised-button
            (click)="onOrderDirect()">BESTEL</button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </section>
  