<div
  class="header-wrapper"
  fxLaout
  fxLayoutAlign="center">


  <div
    fxLayout
    fxLayoutAlign="space-around"
    class="header">
    <div
      class="home"
      *ngIf="!isLoggedIn">
      <a
        (click)="routeSelected('/home')">
        <mat-icon
          [ngStyle]="{'color': homeLinkActive ? 'lightgreen' : 'white'}"
          class="home-icon">home</mat-icon>
      </a>
    </div>
    <div
      *ngIf="!isLoggedIn"
      class="coffee">
      <a
        [ngStyle]="{'color': coffeeLinkActive ? 'lightgreen' : 'white'}"
        (click)="articleSelected('coffee')">
        COFFEE
      </a>
    </div>
    <div
      class="tea"
      *ngIf="!isLoggedIn">
      <a
        [ngStyle]="{'color': teaLinkActive ? 'lightgreen' : 'white'}"
        (click)="articleSelected('tea')">
        TEA
      </a>
    </div>
    <div
      *ngIf="!isLoggedIn"
      class="shopping-basket-container">
      <a
        class="link"
        (click)="routeSelected('/order')">
        <mat-icon
          [ngStyle]="{'color': orderLinkActive ? 'green' : 'blue'}"
          class="mat-icon">shopping_cart</mat-icon>
        <span
          [ngStyle]="{'color': orderLinkActive ? 'green' : 'blue'}"
          class="ordered-items-amount">
          {{orderedItemsAmount}}
        </span>
      </a>
    </div>
    <div
      class="login"
      *ngIf="!isLoggedIn">
      <a>
        <mat-icon
          class="login-icon"
          [ngStyle]="{'color': loginLinkActive ? 'lightgreen' : 'white'}"
          routerLinkActive="router-link-active" routerLink="/login">
          login
        </mat-icon>
      </a>
    </div>
    <div
      class="logout"
      *ngIf="isLoggedIn">
      <a (click)="onLogOut()">LOG OUT</a>
    </div>
  </div>
</div>



<!-- <header class="main-header" color="primary">
  <ul
    fxLayout
    fxLayoutAlign="space-between">
    <li>
      <a
        (click)="routeSelected('/home')">
        <mat-icon
          [ngStyle]="{'color': homeLinkActive ? 'red' : 'white'}"
          class="home-icon">home</mat-icon>
      </a>
    </li>
    <li
      *ngIf="!isLoggedIn">
      <a
        [ngStyle]="{'color': coffeeLinkActive ? 'red' : 'white'}"
        (click)="articleSelected('coffee')">
        COFFEE
      </a>
    </li>
    <li *ngIf="!isLoggedIn">
      <a
        [ngStyle]="{'color': teaLinkActive ? 'red' : 'white'}"
        (click)="articleSelected('tea')">
        TEA
      </a>
    </li>
    <li *ngIf="!isLoggedIn">
      <div
        class="shopping-basket-container">
        <a
          class="link"
          (click)="routeSelected('/order')">
          <mat-icon
            [ngStyle]="{'color': orderLinkActive ? 'red' : 'blue'}"
            class="mat-icon">shopping_cart</mat-icon>
          <span
            [ngStyle]="{'color': orderLinkActive ? 'red' : 'blue'}"
            class="ordered-items-amount">
            {{orderedItemsAmount}}
          </span>
        </a>
      </div>
    </li>
    <li *ngIf="showOrderTableLink">
      <a (click)="onOrderTable()">ORDER TABLE</a>
    </li>
    <li *ngIf="!isLoggedIn">
      <a>

        <mat-icon
          [ngStyle]="{'color': loginLinkActive ? 'red' : 'white'}"
          routerLinkActive="router-link-active" routerLink="/login">
          login
        </mat-icon>
      </a>
    </li>
    <li (click)="onLogOut()" *ngIf="isLoggedIn">
      <a>LOG OUT</a>
    </li>
  </ul>
</header> -->




<!-- 
<header class="main-header" color="primary">
    <i class="fas fa-3x fa-bars" (click)="onToggleSideNav()"></i>
    <ul class="main-nav__items">
      <li class="main-nav__item">
        <a 
          class="bedrijfsnaam"
          (click)="routeSelected('/home')"
          
          [ngStyle]="{'color': homeLinkActive ? 'red' : 'white'}">
          <mat-icon
            [ngStyle]="{'color': homeLinkActive ? 'red' : 'white'}"  
            class="home-icon">home</mat-icon>
          
        </a>
      </li>
    </ul>
    <nav class="main-nav">
      <ul class="main-nav__items">
        <li
          *ngIf="!isLoggedIn" 
          class="main-nav__item">
          <a 
            [ngStyle]="{'color': coffeeLinkActive ? 'red' : 'white'}"
            (click)="articleSelected('coffee')">
            COFFEE
          </a>
        </li>
        <li *ngIf="!isLoggedIn" class="main-nav__item">
          <a
            [ngStyle]="{'color': teaLinkActive ? 'red' : 'white'}" 
            (click)="articleSelected('tea')">
            TEA
          </a>
        </li>
        <li *ngIf="!isLoggedIn" class="main-nav__item">
          <div
             class="shopping-basket-container">
            <a
              class="link" 
              (click)="routeSelected('/order')">
              <mat-icon
                [ngStyle]="{'color': orderLinkActive ? 'red' : 'blue'}"
                class="mat-icon">shopping_cart</mat-icon>
              <span 
              [ngStyle]="{'color': orderLinkActive ? 'red' : 'blue'}"
                class="ordered-items-amount">
                {{orderedItemsAmount}}
              </span>
          </a>
          </div>
        </li>
        <li *ngIf="showOrderTableLink" class="main-nav__item">
          <a (click)="onOrderTable()">ORDER TABLE</a>
        </li>
       

        <li *ngIf="!isLoggedIn" class="main-nav__item">
          <a>
            
            <mat-icon
            [ngStyle]="{'color': loginLinkActive ? 'red' : 'white'}"
            routerLinkActive="router-link-active" routerLink="/login">
            login
          </mat-icon>
          </a>
        </li>
        <li (click)="onLogOut()" *ngIf="isLoggedIn" class="main-nav__item">
          <a>LOG OUT</a>
        </li>
      </ul>
    </nav>
  </header>
   -->
