.client-info {
  max-width: 120px;
}
.pickup-date {
  max-width: 100px;
}
.pickup-time {
  max-width: 60px;
}

table {
  width: 100%;
}
.order-table-header {

  padding-left: 25px;
  padding-right: 25px;
  border: 1px solid orange;
}
.order-table-header-buttons {
  padding: 5px 0;
  border: 1px solid green;
  height: 100%;
}

button {
  height: 100%
}

.date-selector {
  margin-top: 15px;;
  margin-left: 25px;
}

th,td {
  border: 1px solid #CCC;
  padding-left: 6px;
}

.padding-left {
  padding-left: 6px;
}

th.mat-header-cell {
  padding-left: 6px;
}
.table-header {
  font-size: 14px;
  font-weight: normal;
  background-color: aquamarine;
}
.view {
  text-align: center; 
  vertical-align: middle;
  max-width: 40px;
  padding-left: 5px;

}

.final-price {
  text-align: right;
  padding-right: 6px;
  max-width: 35px;
}
.table-cell-mill {
  padding-left: 0px;
  text-align: center;
}

.order-table {
  width: 100%
}

.table-header-article, .table-cell-article {
  max-width: 33px;
  /* width: 11% */
}
.table-header-name, .table-cell-name {
  max-width: 150px;
  /* width: 40% */
}
.table-header-weight, .table-cell-weight {
  max-width: 40px;
  /* width: 12% */
}
.table-header-capacity, .table-cell-capacity {
  max-width: 40px;
  /* width: 15% */
}
.table-header-brew, .table-cell-brew {
  max-width: 40px;
  /* width: 15% */
}
.table-header-mill, .table-cell-mill {
  max-width: 40px;
  /* width: 15% */
}
.table-header-grind, .table-cell-grind {
  max-width: 40px;
  /* width: 10% */
}
