table {
  width: 100%;
}
.order-table-header {

  padding-left: 25px;
  padding-right: 25px;
  border: 1px solid orange;
}
.order-table-header-buttons {
  padding: 5px 0;
  border: 1px solid green;
  height: 100%;
}

button {
  height: 100%
}

.date-selector {
  margin-top: 15px;;
  margin-left: 25px;
}

th,td {
  border: 1px solid #CCC;
  padding-left: 6px;
}

.padding-left {
  padding-left: 6px;
}

th.mat-header-cell {
  padding-left: 6px;
}
.table-header {
  font-size: 14px;
  font-weight: normal;
  background-color: aquamarine;
}
.final-price {
  text-align: right;
}
.table-cell-mill {
  padding-left: 0px;
  text-align: center;
}
