<h3 mat-dialog-title>LOGIN</h3>
<mat-dialog-actions>
  <form [formGroup]="loginForm" fxLayout="column" fxLayoutGap="15px" (ngSubmit)="submit()">
    <mat-form-field> 
      <input 
        type="text"
        matInput
        placeholder="USERNAME"
        formControlName="username">
    </mat-form-field>
  
    <mat-form-field> 
      <input 
        type="text"
        matInput
        placeholder="PASSWORD"
        formControlName="password">
    </mat-form-field>
<button mat-button></button>
    <button
      type="submit"
      mat-raised-button
      [mat-dialog-close]="loginForm.value"
      color="primary">
      LOGIN
    </button>
    <button
      type="button"
      [mat-dialog-close]="'cancelXXX'"
      mat-raised-button
      color="primary">
      CANCEL
    </button>

  </form>
    
</mat-dialog-actions>
