.section {
  
}
.edit-mode {
  padding-top: 6px;
  background-color:lightcoral;
  margin-bottom: 6px;
}

.order-form {
  /* min-width: 350px; */
}

.button {
  /* border: 1px solid green; */
}
.cancel-button {
  width: 30%
}
.add-button {
  width: 60%
}
.capacity, .brew-method-or-mill {
  border-bottom: 1px solid #ccc;
}
.grind-instructions {
  background-color: #ededed;
  padding: 7px;
  margin-bottom: 7px;
}

.item-cost {
  background-color: #ededed;
  padding: 7px;
  margin-bottom: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  /* border: 1px solid orange; */
}